
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Histórico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @historico.each_with_index do |atendimentohist, i| %>
          <div class="row">
            <div class="col-10"><p><%= atendimentohist.texto %></p></div>
            <div class="col-2" style="align-self: flex-end;margin-bottom: 0px;"><p style="font-size:12px;"><%= atendimentohist.created_at.strftime("%d/%m/%Y %H:%M") %></p></div>
          </div>
          <% i = i+1 %>
          <% if i < @historico.size %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>